body {
  max-width: 45rem; 
  margin: auto;
}

html {
  background-color: black;
  color: cornsilk;
  font-family: 'Cardo', serif;
  font-size: 1rem;
}

a {
  font-family: 'Cardo', serif;
  color: #d48428;
  text-decoration: none;
}

p {
  text-align: justify;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid wheat;
}

td, th {
  padding: 7px;
  text-align: center;
}

.title:hover {
  color: #d4bd28;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  margin: 0 1em;
  padding: 0.1em;
}

.nav-item > a:hover {
  color: #d4bd28;
}

.footer {
  font-size: 0.8rem;
  text-align: center;
}

.article-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-image-container > img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.label {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.main-container {
  display: grid
}

.man-content {
  grid-column-start: 1;
}

.sidebar {
  grid-column-start: 2;
  width: 10rem;
}